html, body
{
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-content: stretch;
    margin: auto;
}

.flex-half {
    width: 48%;
    height: 96%;
    margin: 1% 1%;
    /*min-width: 480px;*/
    justify-content: space-evenly;
}

@media only screen and (max-width: 1000px) {
    .flex-half {
        width: 98%;
        height: 46%;
    }
}

@media only screen and (max-width: 1000px) {
    #main {
        /*width: 98%;*/
        flex-direction: column;
    }
}

.content {
    height: 40px;
    margin: 4px;
}

.title {
    height: inherit;
    float: left;
    display: flex;
    align-items: center;
}

.action {
    width: 40px; /* try to set this dynamically */
    text-align: center;
    height: inherit;
    float: right;
    /* text-align: center;
    vertical-align: middle;
    line-height: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.done {

    background-color: green;
}

.renew {
    background-color: blue;
}

.a {
    background-color: rgba(209, 136, 102, 0.7);
}

.b {
    background-color: rgba(255, 228, 196, 0.7);
}

.c {
    background-color: rgba(209, 136, 102, 0.5);
}

.d {
    background-color: rgba(255, 228, 196, 0.5);
}